<div class="text-center">
  <div class="my-5">
    <h2>サイト案内</h2>
  </div>

  <h3 style="background-color: rgba(0,0,255,0.5);">noveloveについて</h3>
  <p>
    「novelove」(のべらぶ)は、みんなのための小説投稿・閲覧サイトです。<br/>
    現在noveloveに有料のサービスは存在しません。<br/>
    また、会員でない方も小説を自由に投稿したり、投稿された小説を無料で閲覧いただけます。<br/>
    (お気に入り(いいね)登録機能といった、会員ならではの機能もございます)<br/>
    気になられた方は是非登録してみてください。
  </p>

  <h3 style="background-color: rgba(0,0,255,0.5);">当サイトの魅力</h3>
  <p>
    ・小説の投稿、閲覧が無料。<br/>
    ・充実した機能
  </p>

  <h3 style="background-color: rgba(0,0,255,0.5);">当サイトに掲載されている小説の数</h3>
  <p>
    - <%= @items_count %>作品(通常作品、X指定作品全て含む)
  </p>
</div>